<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.ali.systemIn">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="System in"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.SystemIn"
        tools:targetApi="31">
        <activity
            android:name="com.ali.aimain.AICalculate"
            android:exported="false" />
        <activity
            android:name="com.ali.aimain.AIMathQuiz"
            android:exported="false" />
        <activity
            android:name="com.ali.kali.comandlist.CommandList"
            android:exported="false" />
        <activity
            android:name="com.ali.kali.console.Terminal"
            android:exported="false" />
        <activity
            android:name="com.ali.aimain.Mathematics"
            android:exported="false" />
        <activity
            android:name="com.ali.pymain.PythonConsole"
            android:exported="false" />
        <activity
            android:name="com.ali.kali.LinuxMain"
            android:exported="false" />
        <activity
            android:name="com.ali.user.EditProfile"
            android:exported="false" />
        <activity
            android:name="com.ali.user.ProfileActivity"
            android:exported="false" />
        <activity
            android:name="com.ali.autorized.Login"
            android:exported="false" />
        <activity
            android:name="com.ali.autorized.Register"
            android:exported="false" />
        <activity
            android:name="com.ali.javaquizbyali.codemodel.CodeActivity"
            android:exported="false" />
        <activity
            android:name="com.ali.javaquizbyali.codemodel.Task"
            android:exported="false" />
        <activity
            android:name="com.ali.javaquizbyali.JavaMain"
            android:exported="false" />
        <activity
            android:name="com.ali.aimain.AiMain"
            android:exported="false" />
        <activity
            android:name="com.ali.aimain.MLCours"
            android:exported="false" />
        <activity
            android:name="com.ali.pymain.PythonMain"
            android:exported="false" />
        <activity
            android:name="com.ali.javaquizbyali.Hazirliq"
            android:exported="false" />
        <activity
            android:name="com.ali.javaquizbyali.SpringBootQuiz"
            android:exported="false" />
        <activity
            android:name="com.ali.javaquizbyali.Derslik"
            android:exported="false" />
        <activity
            android:name="com.ali.quizutility.AboutActivity"
            android:exported="false"
            android:launchMode="singleTask" />
        <activity
            android:name="com.ali.quizutility.ResultActivity"
            android:exported="false" />
        <activity
            android:name="com.ali.javaquizbyali.BasicQuiz"
            android:exported="false" />
        <activity
            android:name="com.ali.javaquizbyali.JuniorQuiz"
            android:exported="false" />
        <activity
            android:name="com.ali.pymain.SplashPyActivity"
            android:exported="true" />
        <activity
            android:name="com.ali.aimain.SplashAiActivity"
            android:exported="true" />
        <activity
            android:name="com.ali.kali.SplashLinuxActivity"
            android:exported="true" />
        <activity
            android:name="com.ali.javaquizbyali.SplashJavaActivity"
            android:exported="true" />
        <activity
            android:name="com.ali.MainActivity"
            android:exported="false"
            android:launchMode="singleTask" />
        <activity
            android:name="com.ali.SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity> <!-- Add tools:replace to resolve merge conflict between resources -->
        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-5367924704859976~2951656530" />
    </application>

</manifest>